<!DOCTYPE html>
<html>
  <head>
    <title>ROR Post-MPZ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li><%= link_to "Sign In", welcome_sign_in_path %></li>
        <li><%= link_to "Home", welcome_home_page_path %></li>
        <li><%= link_to "Companies", companies_index_path %></li>
        <li><%= link_to "Projects", projects_index_path %></li>
      </ul>

      <%= yield %>
    </div>


  </div>
  </body>
</html>
